.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--color-white);
  background: url(../../assets/background.png);
  background-size: cover;
}
